<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.2.0.0" />
  <package id="Lucene.Net" version="2.9.4.1" />
  <package id="Lucene.Net.Contrib" version="2.9.4.1" />
  <package id="Newtonsoft.Json" version="4.5.9" />
  <package id="NZOR.Web.Service.Client" version="0.0.16.0" />
  <package id="NZOR.Web.Service.Data" version="0.2.0.0" />
  <package id="RestSharp" version="102.5" />
  <package id="SharpZipLib" version="0.86.0" />
</packages>