<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="NZOR" connectionString="data source=devserver05;Initial Catalog=NZOR_Data_Test;user id=nzor_user;password=nzor"/>
    <!--add name="NZOR" connectionString="data source=idt-laptop;Initial Catalog=NZOR_Data_Test;integrated security=true" /-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
