<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NZOR" connectionString="Data Source=nzor_dev;Initial Catalog=NZOR_Dev;Persist Security Info=True;User ID=NZOR_User;Password=nzor" />    
    <add name="Name_Cache" connectionString="Data Source=name_cache.databases.landcareresearch.co.nz;Initial Catalog=name_cache;Persist Security Info=True;User ID=harvesting_user;Password=terrible password!" />
    <!--add name="Name_Cache" connectionString="Data Source=202.27.243.4\sql2005;Initial Catalog=name_cache;Persist Security Info=True;User ID=oai_user;Password=oai_user" /-->
    <add name="Name_Cache_Test" connectionString="Data Source=202.27.243.4\sql2005;Initial Catalog=name_cache_test;Persist Security Info=True;User ID=oai_user;Password=oai_user" />
  </connectionStrings>
  <appSettings>
    <add key="OAITransformFile" value="C:\Development\NZOR\Schema\OAI_To_NZOR_Provider.xslt" />
    <add key="proxyServer" value=""/>
    <add key="proxyPort" value=""/>
    <add key="Integration Config File" value="C:\Program Files\Landcare Research\NZOR.Server\Configuration\IntegConfig.xml"/>
    <add key="ProviderSchemaUrl" value="http://test.data.nzor.org.nz/schema/provider/103/nzor_provider.xsd"/>
  </appSettings>
</configuration>