<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="NZOR System Task" value="NZOR SYSTEM RUN"/>
    <add key="Integration Config File" value="C:\Program Files (x86)\Landcare Research\NZOR.Server\Configuration\IntegConfig.xml"/>
    <add key="Integration Data File" value="C:\Program Files (x86)\Landcare Research\NZOR.Server\data.dat"/>
    <add key="HarvestingMode" value="Updates"/>
    <add key="UpdateProviderStackedNameData" value="True"/>
    <add key="OAITransformFile" value="C:\Program Files (x86)\Landcare Research\NZOR.Server\Configuration\OAI_To_NZOR_Provider.xslt"/>
    <add key="MatchingAssemblyPath" value="C:\Program Files (x86)\Landcare Research\NZOR.Server"/>
    <add key="MaxIntegrationThreads" value="8"/>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ConfigFilePath" value="C:\Program Files (x86)\Landcare Research\NZOR.Server\Configuration\IntegConfig.xml"/>
    <add key="SenderAddress" value="administrator.nzor@landcareresearch.co.nz"/>
    <add key="ServiceUrl" value="http://data.nzor.org.nz/"/>
    <add key="BatchMatchDownloadUrl" value="http://data.nzor.org.nz/matches/"/>
    <add key="ExternalMatchResultsDownloadUrl" value="http://data.nzor.org.nz/matches/externalresults/"/>
    <add key="LuceneIndexFilePath" value="C:\Program Files (x86)\Landcare Research\NZOR.Server\Indexes\Names"/>
    <add key="ProviderSchemaUrl" value="http://data.nzor.org.nz/schema/provider/103/nzor_provider.xsd"/>
    <add key="OutputFullFolderName" value="C:\Program Files\Landcare Research\NZOR.Server"/>
    <add key="WebIndexDeployFolder" value="\\malazan\wwwroot\nzor.web.service\app_data"/>
    <add key="WebIndexBackupFolder" value="\\malazan\wwwroot\nzor.web.service\indexes_backup"/>
  </appSettings>
  <connectionStrings>
    <add name="NZOR" connectionString="data source=nzor_dev;Initial Catalog=NZOR;Persist Security Info=True;user id=nzor_user;password=nzor"/>
    <add name="Name_Cache" connectionString="Data Source=name_cache.databases.landcareresearch.co.nz;Initial Catalog=name_cache;Persist Security Info=True;User ID=harvesting_user;Password=terrible password!"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.landcareresearch.co.nz"/>
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
