<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.transactions>
    <machineSettings maxTimeout="02:00:00"/>
    <defaultSettings timeout="02:00:00"/>
  </system.transactions>

  <appSettings>
    <add key="proxyServer" value=""/>
    <add key="proxyPort" value=""/>
  </appSettings>
</configuration>