<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="NZOR" connectionString="Data Source=devserver05;Initial Catalog=NZOR_Data;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
