@{
    ViewBag.Title = "NZOR Disclaimer";
}
<h2>
    Disclaimer
</h2>
<p>
    Some of the data will be inaccurate, incomplete and/or imprecise. This will include
    localities and/or identification of specimens.
</p>
<p>
    We do not provide any warranties or representations regarding the accuracy, reliability
    or fitness for purpose of any data or other material made available. You use the
    data and material at your own risk. We recommend that you check the data and material
    for accuracy, completeness and precision before you use it.
</p>
<p>
    We expressly exclude all and any liability of any nature whatsoever arising from
    your use of the NZOR Data.
</p>
