@{
    ViewBag.Title = "NZOR Copyright";
}

<h4>
  <img src="/Content/images/creativecommonslogo.png" /> Attribution-Noncommercial-Share Alike (BY-NC-SA)
</h4>

<h3>
    NZOR Data and Terms of Use for Content.
</h3>

<p>
    NZOR is a technical infrastructure platform and does not create or own data other
    than reporting statistics associated with data use. NZOR data is dynamically harvested
    from NZOR Providers <a href="http://www.nzor.org.nz/about-nzor/data-providers">http://www.nzor.org.nz/about-nzor/data-providers</a>
    who are generally active custodians of taxonomic data. The data cover the core NZOR
    elements of the scientific and common names of organisms, the status of those names
    as preferred names or synonyms, together with contextual data including a statement
    on the presence or absence of the organism in a defined geographic context of New
    Zealand. Where possible these data elements are each accompanied by the evidence
    supporting the assertion, usually a published source, or the presence of identified
    material held in the national reference collections. The NZOR system dynamically
    integrates these multiple taxonomic data sources to provide a single, national,
    concensus data set composed of multiple provider elements.
</p>
<p>
    In becoming an NZOR Provider, contributors agree to a Creative Commons License agreement
    for the supply of the NZOR data to end users. The data from providers change over
    time as new facts emerge which is a principle reason why an infrastructure like
    NZOR is necessary in order to integrate and disseminate the current state of knowledge.
    Providing data to NZOR is voluntary and not bound by service level agreements on
    availability, accuracy, completeness or quality. NZOR data may be accompanied by
    assessments provided by the data custodian and end-users should make use of these
    data. NZOR will provide a mechanism for end-users to communicate directly with data
    providers to facilitate discussion on data quality, accuracy and completeness.
</p>
<ul>
    <li>The data are provided on an “as is” and “as available” basis. </li>
    <li>In a small minority of cases there may be conflicting published views on the preferred
        scientific name for an orgamism. NZOR data providers may provide multiple opinions
        but assert which taxonomc view they follow, and this stated preference is available
        to end users. </li>
    <li>NZOR integrates data elements (name, authors etc) to provide an integrated consensus
        view of this factual content. Where there is no majority amongst multiple data elements
        then NZOR provides a mechanism for allowing a specified preferred Provider. The
        alternative data are available to end users as provider records linked to the NZOR
        concensus record, and the presence of data conflict is flagged <a href="/Home/WhatIsNZOR">NZOR How does it
        work?</a>.  </li>
    <li>The presence or absence of organisms in New Zealand are assertions made by NZOR
        data providers using best available evidence. That evidence may range in quality.
        The quality is good where there is New Zealand reference material available in national
        collections which has been recently reviewed by an expert with a thorough taxonomic
        knowledge of the group. It is poor when the only available evidence is a historic
        cited literature source, or organisms of taxonomic uncertainty which has not recently
        been reviewed by experts. </li>
</ul>
<p>
    The NZOR hosting body and the NZOR Data Providers accept no responsibility for any
    actions taken in reliance on the data or consequences arising from the use of it.
</p>
<br />
<h3>
    Copyright in Data
</h3>
<p>
    <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/nz/">
        <img src="/Content/images/creativecommonslogo.png" /></a>

    <br />
     NZOR Provider data are made available under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/nz/">
     Creative Commons Attribution-NonCommercial-ShareAlike 3.0 New Zealand License</a>.
    This allows for the re-distribution of the data and any derivative works based on
    the data, provided that the source of the data is acknowledged and that derivative
    products are released under the same conditions.
</p>
<b>Citation Conventions</b>
<p>
    The New Zealand Organisms Register (2011) NZOR. http://nzor.org.nz (Accessed 2011-10-06).
    <br />
    or, The New Zealand Organisms Register (2011) NZOR. Provider (ZZZZ), http://nzor.org.nz
    (Accessed 2011-10-06). Where ZZZZ is the name of the NZOR Data Provider.
</p>
<b>Disclaimer </b>
<p>
    Except as required by law, Landcare Research, as host of the NZOR dataset, can not
    and does not warrant the performance or results you may obtain by using the NZOR
    website and webservices. No warranties, express or implied, are given as to non-infringement
    of third party rights, merchantability, or fitness for any particular purpose.
</p>
<b>Limit of Liability</b>
<p>
    Subject to any liability which may not be excluded or limited by law, Landcare Research
    shall not be liable on any legal basis (including, without limitation, negligence)
    and hereby expressly excludes all liability for loss or damage howsoever and whenever
    caused.
</p>
<br />
<h3>
    Terms of Use of the NZOR Website and Webservices hosted by Landcare Research</h3>
1. <b>Your Obligations</b>
<p>
    1.1 By using this site you agree, and are deemed, to be bound by the following Terms.
    If you choose not to be bound by the following Terms, then Landcare Research does
    not grant you the right to use this site.
</p>
<p>
    1.2 You agree that you will not attempt to alter this site nor employ any robot,
    spider, or other device or process or means whatever to use this site for any unauthorised
    purposes.
</p>
<p>
    1.3 You also acknowledge that Landcare Research may suspend the operation of the
    NZOR website and webservice for repair or maintenance work or in order to update
    the contents or functionality of the website.
</p>
<p>
    1.4 You agree not to:
    <ul>
        <li>make excessive traffic demands;</li>
        <li>deliver viruses or forward any other system which is of a destructive nature or
            capable of so being whether alone or in combination;</li>
        <li>otherwise engage in any other behaviour that may be reasonably expected to inhibit
            other users from using and enjoying the site;</li>
        <li>damage or destroy the reputation of Landcare Research or NZOR Data Providers.</li>
    </ul>
</p>
2. <b>Landcare Research’s Obligations</b>
<p>
    2.1 We accept no obligation to monitor the use of this site. However, we reserve
    the right to disclose any information as required by law, to block access to you,
    your agents, associates or your company and take such other action as may be reasonably
    necessary to prevent any breach of these terms and conditions or any breach of applicable
    laws.
</p>
<p>
    2.2 We will, at our absolute discretion, fully co-operate with the relevant authorities
    with respect to any investigation of suspected unlawful activity or violation of
    the website's security.
</p>
<p>
    2.3 We do not warrant that the BCD website or the internet generally will be uninterruptible
    or error free or that any information, software or other material accessible from
    this site is free of viruses or other harmful components.
</p>
<p>
    2.4 We are not responsible for any information contained on sites which this website
    provides links to, nor any third party content which can be accessed through this
    website. The inclusion of any link to a website is not an endorsement of the linked
    site.
</p>
<p>
    2.5 We reserve the right to modify or terminate the BCD website for any reason without
    notice at any time.
</p>
