<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NZOR_AdminEntities" connectionString="metadata=res://*/Admin.csdl|res://*/Admin.ssdl|res://*/Admin.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DEVSERVER05;Initial Catalog=NZOR_Admin;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>