<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="NZOR" connectionString="data source=nzor_dev;Initial Catalog=NZOR;user id=nzor_user;password=nzor"/>
    <add name="Name_Cache" connectionString="Data Source=name_cache.databases.landcareresearch.co.nz;Initial Catalog=name_cache;Persist Security Info=True;User ID=harvesting_user;Password=terrible password!"/>
  </connectionStrings>
  <appSettings>
    <add key="proxyServer" value=""/>
    <add key="proxyPort" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
