@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "NZOR Error";
}
<h2>
    Sorry, an error occurred while processing your request.
</h2>
<p>
    This error has been sent to the administrator.
</p>
