<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="NZOR" connectionString="Data Source=nzor_dev;Initial Catalog=NZOR_dev;User ID=NZOR_User;Password=nzor;Application Name=NZOR.Publish.Publisher"/>
  </connectionStrings>
  <appSettings>
    <add key="OutputFullFolderName" value="C:\Development\NZOR\Source\NZOR.Web.Service\App_Data"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
